.profile-image:hover{
    background-color:#000;
    opacity:0.8;
    cursor: pointer;

}

.image-upload>input {
    display: none;
  }

  .profile-image{
      max-width: 250px ;
      max-height:  250px;
  }